In [1]:
import os
import django
os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'omkar_proj.settings')
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
django.setup()

/home/python-25/Desktop/Omkar-Development/source
/home/python-25/Desktop/Omkar-Development/source

In [2]:
from warehouse.models import (
    Company,
    Property,
    Gala
)
from django.db.models import (
    OuterRef,
    Count,
    Prefetch,
    Q,
    Sum,
    ExpressionWrapper,
    IntegerField,
    functions,
    Value,
    F
)
from contract.models import (
    Contract,
    Investor as ContractInvestor,
    Rental as ContractRental,
    Farmer as ContractFarmer
)
from account.models import (
    Investor,
    Rental,
    Farmer
)
from service.models import LeaveGalaRequest
from django_pandas.io import read_frame

In [17]:
gala = Gala.objects.filter(warehouse__company__name="Omkar").values("gala_investor_contract_detail__owner","gala_rental_contract_detail__owner__username","gala_area_size")

In [18]:
df = read_frame(gala)

In [19]:
df

,gala_investor_contract_detail__owner,gala_rental_contract_detail__owner__username,gala_area_size
0,None,None,0.00
1,None,None,0.00
2,None,admin,0.00
3,None,Ayan Farmer,0.00
4,None,None,0.00
5,None,None,0.00
6,None,Ayan Farmer,0.00
7,None,Ayan Farmer,0.00

In [100]:
get_rental_gala = ContractRental.objects.filter(
                user_id=5
                ).prefetch_related(
                    'gala__user_gala_leave_request'
                    ).values("gala__uid","gala__gala_number").annotate(
                        leave_request_status  = F("gala__user_gala_leave_request__status")
                    ).filter(Q(leave_request_status = None) | Q(leave_request_status = "Reject"))

In [101]:
df = read_frame(get_rental_gala)

In [102]:
df

                              gala__uid gala__gala_number leave_request_status
0  3a686b64-fccc-432f-a331-03221a7f98de             OM3/1                 None
1  32e6167c-5fab-4268-a26f-1547b94ceba4                12                 None
2  7f635838-6e08-4dce-89e8-572f1d723dac                 2                 None
3  16b2b643-811b-4828-9a84-d41e957fca3d                 1                 None

In [103]:
Gala.objects.all()

In [4]:
get_rental_gala

<PolymorphicQuerySet [{'gala__uid': UUID('32e6167c-5fab-4268-a26f-1547b94ceba4'), 'gala__gala_number': '12', 'total_leave_request': 0}, {'gala__uid': UUID('3a686b64-fccc-432f-a331-03221a7f98de'), 'gala__gala_number': 'OM3/1', 'total_leave_request': 0}, {'gala__uid': UUID('7f635838-6e08-4dce-89e8-572f1d723dac'), 'gala__gala_number': '2', 'total_leave_request': 0}]>

In [4]:
 get_property = Property.objects.filter(
            company__name__iexact = "Omkar",is_allotted_to_farmer=False
            ).values("uid","property_name").annotate(
                total_galas = Gala.objects.filter(
                    Q(is_allotted = True)|Q(is_allotted_to_rental = True),
                    warehouse__uid=OuterRef("uid")).values("warehouse__uid").annotate(
                    total_galas=ExpressionWrapper(
                            Count("id"),
                            output_field=IntegerField(),
                        )
            ).values("total_galas"))

In [5]:
get_rental_gala = ContractRental.objects.filter(user_id=5).values("gala__warehouse__uid","gala__uid")

In [20]:
ContractRental.objects.filter(user_id=5).prefetch_related('gala__user_gala_leave_request').values("gala__uid").annotate(total_leave_request = Count("gala__user_gala_leave_request")).filter(total_leave_request = 0)

<PolymorphicQuerySet [{'gala__uid': UUID('32e6167c-5fab-4268-a26f-1547b94ceba4'), 'total_leave_request': 0}, {'gala__uid': UUID('3a686b64-fccc-432f-a331-03221a7f98de'), 'total_leave_request': 0}, {'gala__uid': UUID('7f635838-6e08-4dce-89e8-572f1d723dac'), 'total_leave_request': 0}]>

In [16]:
Contract.objects.filter(Rental___user_id=5)

In [7]:
Contract.objects.all().annotate(rental_count=Count('rental')).values('rental_count')

In [32]:
get_rental_gala

<PolymorphicQuerySet [{'gala__warehouse__uid': UUID('1ce2e3e4-e0fe-4afa-89eb-ce7c9389c00b'), 'gala__uid': UUID('3a686b64-fccc-432f-a331-03221a7f98de')}, {'gala__warehouse__uid': UUID('89e8ebf7-9e21-4300-aa03-5a96f419e498'), 'gala__uid': UUID('32e6167c-5fab-4268-a26f-1547b94ceba4')}, {'gala__warehouse__uid': UUID('690385b0-0e94-445a-b448-a18781846984'), 'gala__uid': UUID('7f635838-6e08-4dce-89e8-572f1d723dac')}, {'gala__warehouse__uid': UUID('690385b0-0e94-445a-b448-a18781846984'), 'gala__uid': UUID('16b2b643-811b-4828-9a84-d41e957fca3d')}]>

In [87]:
get_property = Property.objects.filter(
    company__name__iexact = "Omkar",is_allotted_to_farmer=False
).values("uid","property_name").annotate(
    total_galas = Gala.objects.filter(
        Q(is_allotted = True)|Q(is_allotted_to_rental = True),
        warehouse__uid=OuterRef("uid")).values("warehouse__uid").annotate(
        total_galas=ExpressionWrapper(
                Count("id"),
                output_field=IntegerField()
            )
).values("total_galas"))

In [58]:
get_property

<QuerySet [{'uid': UUID('5da14365-5149-405b-bd13-409515e7670a'), 'property_name': 'Omkar Warehouse 4', 'total_galas': None}, {'uid': UUID('1ce2e3e4-e0fe-4afa-89eb-ce7c9389c00b'), 'property_name': 'Omkar Warehouse 3', 'total_galas': 1}]>

In [27]:
Gala.objects.filter(Q(is_allotted = True)|Q(is_allotted_to_rental = True),warehouse__uid=OuterRef("uid"))

In [ ]:
)

In [ ]:
sdklthg

In [113]:
get_property = Property.objects.filter(
    company__name__iexact = "Omkar",is_allotted_to_farmer=False
).values("uid","property_name").annotate(
    total_galas = Gala.objects.filter(
        Q(is_allotted = True)|Q(is_allotted_to_rental = True),
        warehouse__uid=OuterRef("uid")).values("warehouse__uid").annotate(
        total_galas=ExpressionWrapper(
                functions.Coalesce(Count("id"),0),
                output_field=IntegerField(),
            )
).values("total_galas")).annotate(
    total_number_of_galas = Gala.objects.filter(
        is_allotted = False,is_allotted_to_rental = False,
        warehouse__uid=OuterRef("uid")).values("warehouse__uid").annotate(
        total_number_of_galas=ExpressionWrapper(
                functions.Coalesce(Count("id"),0),
                output_field=IntegerField(),
            )
).values("total_number_of_galas")).filter(total_galas__isnull = True,total_number_of_galas__gte = 1)

In [114]:
get_property

In [3]:
get_company_instance = Company.objects.filter(
            name = "Omkar"
            ).values("uid","name").annotate(
            total_warehouse_count = Property.objects.filter(
                company__uid = OuterRef("uid")
                ).values("id").annotate(total_warehouse_count = Count("id")).values("total_warehouse_count"),
            total_gala_count = Gala.objects.filter(warehouse__company__uid = OuterRef("uid")
            ).values("warehouse__company__uid").annotate(total_gala_count=Count("id")).values("total_gala_count"),
            total_rental_count = Rental.objects.filter(belong_to__uid = OuterRef("uid")
            ).values("belong_to__uid").annotate(total_rental_count=Count("id")).values("total_rental_count"),
            total_investor_count = Investor.objects.filter(belong_to__uid = OuterRef("uid")
            ).values("belong_to__uid").annotate(total_investor_count=Count("id")).values("total_investor_count"),
            total_farmer_count = Farmer.objects.filter(belong_to__uid = OuterRef("uid")
            ).values("belong_to__uid").annotate(total_farmer_count=Count("id")).values("total_farmer_count"),
            total_remaining_gala_count = Gala.objects.filter(warehouse__company__uid=OuterRef("uid"),
          is_allotted_to_farmer=False,
          is_allotted_to_rental=False,
          is_allotted=False
            ).values("warehouse__company__uid"
                ).annotate(total_remaining_gala_count=Count("id")
                                                ).values("total_remaining_gala_count")
)

In [86]:
get_company_instance

<QuerySet [{'uid': UUID('e39f63e5-950c-4144-9184-ca9ba40239cd'), 'name': 'Omkar', 'total_warehouse_count': 1, 'total_gala_count': 8, 'total_rental_count': 1, 'total_investor_count': 1, 'total_farmer_count': 1, 'total_remaining_gala_count': 2}]>

In [87]:
Gala.objects.filter(warehouse__company__name="Omkar").values("warehouse__company__uid").annotate(total_gala=Count("id")).values("total_gala")

In [88]:
property_qs = Property.objects.filter(
            company__name__iexact = "Omkar",
            is_allotted_to_farmer=False,
).values("uid","property_name","is_allotted_to_farmer","get_gala__is_allotted","get_gala__is_allotted_to_rental","get_gala__is_allotted_to_farmer")

In [89]:
property_qs

<QuerySet [{'uid': UUID('5da14365-5149-405b-bd13-409515e7670a'), 'property_name': 'Omkar Warehouse 4', 'is_allotted_to_farmer': False, 'get_gala__is_allotted': False, 'get_gala__is_allotted_to_rental': False, 'get_gala__is_allotted_to_farmer': False}, {'uid': UUID('1ce2e3e4-e0fe-4afa-89eb-ce7c9389c00b'), 'property_name': 'Omkar Warehouse 3', 'is_allotted_to_farmer': False, 'get_gala__is_allotted': False, 'get_gala__is_allotted_to_rental': True, 'get_gala__is_allotted_to_farmer': False}, {'uid': UUID('1ce2e3e4-e0fe-4afa-89eb-ce7c9389c00b'), 'property_name': 'Omkar Warehouse 3', 'is_allotted_to_farmer': False, 'get_gala__is_allotted': False, 'get_gala__is_allotted_to_rental': False, 'get_gala__is_allotted_to_farmer': False}]>

In [113]:
from django_pandas.io import read_frame

In [114]:
df = read_frame(property_qs)

In [115]:
df

,uid,property_name,is_allotted_to_farmer,get_gala__is_allotted,get_gala__is_allotted_to_rental,get_gala__is_allotted_to_farmer
0,5da14365-5149-405b-bd13-409515e7670a,Omkar Warehouse 4,False,False,False,False
1,1ce2e3e4-e0fe-4afa-89eb-ce7c9389c00b,Omkar Warehouse 3,False,False,True,False
2,1ce2e3e4-e0fe-4afa-89eb-ce7c9389c00b,Omkar Warehouse 3,False,False,False,False

In [116]:
filt = (df['get_gala__is_allotted_to_rental'] == True) | (df['get_gala__is_allotted'] == True)

In [118]:
new_df = df.loc[filt]

array(['Omkar Warehouse 3'], dtype=object)

In [125]:
f2=df[~df['property_name'].isin(new_df['property_name'].unique())]

In [126]:
f2

,uid,property_name,is_allotted_to_farmer,get_gala__is_allotted,get_gala__is_allotted_to_rental,get_gala__is_allotted_to_farmer
0,5da14365-5149-405b-bd13-409515e7670a,Omkar Warehouse 4,False,False,False,False

In [131]:
f2 = f2.iloc[:,:2]

In [132]:
f2

                                    uid      property_name
0  5da14365-5149-405b-bd13-409515e7670a  Omkar Warehouse 4

In [138]:
from django.urls import reverse
import urllib
def build_url(*args, **kwargs):
    get = kwargs.pop('get', {})
    url = reverse(*args, **kwargs)
    if get:
        url += '?' + urllib.parse.urlencode(get)
    return url

In [139]:
f2["warehouse_gala"] = f2['uid'].apply(lambda x : build_url("get-owner-warehouse-galas",get={"company_type":"Omkar"},kwargs={"uuid":x}))

/tmp/ipykernel_16894/1465284221.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2["warehouse_gala"] = f2['uid'].apply(lambda x : build_url("get-owner-warehouse-galas",get={"company_type":"Omkar"},kwargs={"uuid":x}))

In [142]:
f2.to_dict("index").values()

dict_values([{'uid': UUID('5da14365-5149-405b-bd13-409515e7670a'), 'property_name': 'Omkar Warehouse 4', 'warehouse_gala': '/admin-api/get-owner-warehouse-galas/5da14365-5149-405b-bd13-409515e7670a/?company_type=Omkar'}])