In [19]:
import os
import django
os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'omkar_proj.settings')
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
django.setup()

In [20]:
from account.models import (
    User
)
from django_pandas.io import read_frame

In [21]:
get_user  = User.objects.filter(id=2)

In [22]:
df = read_frame(get_user.prefetch_related("investor_contract"))

In [23]:
df

,id,password,last_login,is_superuser,is_staff,is_active,date_joined,username,user_uid,email,first_name,last_name,phone,address,city,zip_code,birth_date,app_type,created_at,updated_at
0,2,pbkdf2_sha256$320000$sZAQS2ogNIonqwYARhnWij$vp...,None,False,False,True,2022-12-09 06:46:53+00:00,goopy-thistle-malamute,997f8db5-5ff2-4e09-8119-8ef5143e4c9f,goopy-thistle-malamute@gmail.com,None,None,None,,None,None,None,android,2022-12-09 06:46:54.307861+00:00,2022-12-09 06:50:16.832620+00:00

In [24]:
from warehouse.models import (
    Company,
    Property,
    Gala
)

In [25]:
company = Company.objects.first()

In [26]:
company.get_tenant_url()

'/admin-api/get-investor-users/?company_type=Richland'

In [27]:
get_user_contract = User.objects.filter(user_uid="fc445e2b-5bf0-4c6c-8b84-b4cc9127bdcb").prefetch_related('investor_contract')

In [28]:
new_df = read_frame(get_user_contract)

In [29]:
new_df

,id,password,last_login,is_superuser,is_staff,is_active,date_joined,username,user_uid,email,first_name,last_name,phone,address,city,zip_code,birth_date,app_type,created_at,updated_at
0,3,pbkdf2_sha256$320000$S2MFHEM5MPTMajqn31c8JT$mv...,None,False,False,True,2022-12-09 06:46:54+00:00,cozy-saffron-dragonfly,fc445e2b-5bf0-4c6c-8b84-b4cc9127bdcb,cozy-saffron-dragonfly@gmail.com,None,None,None,,None,None,None,android,2022-12-09 06:46:55.195504+00:00,2022-12-09 06:50:10.776206+00:00

In [41]:
get_company = Property.objects.all().values("id")

In [42]:
get_company

In [32]:
get_gala = Gala.objects.filter()

In [33]:
Company.objects.get(name="Omkar").get_properties.all()

In [34]:
from django.db.models import OuterRef,Count,Sum

In [74]:
from warehouse.warehouse_api.serializers import (
    PropertyDetailSerializer
)
from django.db.models.functions import Coalesce
from django.db.models import Value,Subquery

# from django.db.models import Value
# class Coalesce(Coalesce):
#     """Return, from left to right, the first non-null expression."""
#     function = 'COALESCE'

#     def __init__(self, *expressions, **extra):
#         if len(expressions) < 2:
#             raise ValueError('Coalesce must take at least two expressions')
#         super().__init__(*expressions, **extra)

In [83]:
get_company = Company.objects.get(
    name="Omkar"
).get_properties.all().values(
    "uid","company__name","property_name"
).annotate(
    total_number_of_galas = Gala.objects.filter(warehouse__uid = OuterRef("uid")).values("warehouse__uid").annotate(total_galas_allotted = Count("id")).values("total_galas_allotted"),
    number_of_galas_is_allotted = Gala.objects.filter(warehouse__uid = OuterRef("uid"),is_allotted=True).values("warehouse__uid").annotate(total_galas_allotted = Count("id")).values("total_galas_allotted"),
    remaining_number_of_galas = Gala.objects.filter(warehouse__uid = OuterRef("uid"),is_allotted=False).values("warehouse__uid").annotate(total_galas_allotted = Count("id")).values("total_galas_allotted"),
)

In [89]:
get_company

<QuerySet [{'uid': UUID('74f1648c-a740-41c1-a4db-554b5047babd'), 'company__name': 'Omkar', 'property_name': 'Warehouse 2', 'total_number_of_galas': 1, 'number_of_galas_is_allotted': 1, 'remaining_number_of_galas': None}, {'uid': UUID('f602409d-f16f-443a-b5d3-0343ae120ad7'), 'company__name': 'Omkar', 'property_name': 'Warehouse 1', 'total_number_of_galas': 5, 'number_of_galas_is_allotted': 4, 'remaining_number_of_galas': 1}]>

In [77]:
Property.objects.get(id = 4).get_absolute_url()

'/admin-api/get-leave-and_license-detail/f602409d-f16f-443a-b5d3-0343ae120ad7/'

In [68]:
serializer = PropertyDetailSerializer(get_company,many=True)

In [52]:
serializer

PropertyDetailSerializer(<QuerySet [{'uid': UUID('74f1648c-a740-41c1-a4db-554b5047babd'), 'company__name': 'Omkar', 'property_name': 'Warehouse 2', 'total_number_of_galas': 1, 'number_of_galas_is_allotted': 1, 'remaining_number_of_galas': None}, {'uid': UUID('f602409d-f16f-443a-b5d3-0343ae120ad7'), 'company__name': 'Omkar', 'property_name': 'Warehouse 1', 'total_number_of_galas': 5, 'number_of_galas_is_allotted': 4, 'remaining_number_of_galas': 1}]>, many=True):
    uid = UUIDField(read_only=True)
    property_name = CharField(max_length=256, required=False)
    total_number_of_galas = IntegerField()
    number_of_galas_is_allotted = IntegerField()
    remaining_number_of_galas = IntegerField()

In [22]:
Gala.objects.filter(warehouse__uid = "f602409d-f16f-443a-b5d3-0343ae120ad7",is_allotted=True).values("warehouse__uid").annotate(total_galas_allotted = Count("id")).values("total_galas_allotted")

In [ ]:
# leave and license api

In [ ]:
from contract.models import (
    Contract
)

In [97]:
Property.objects.get(id=4).get_gala.all()

<QuerySet [<Gala: fd89adf3-d44e-4f02-a4fe-434847d202b7>, <Gala: 45890f9a-2edc-4b36-b0b5-709e7d65c342>, <Gala: 577e564e-ee1e-49bb-8168-a1ac4489dc7a>, <Gala: 168af493-80ba-45a8-887a-846b89f36528>, <Gala: 5ef9811f-639d-413f-9307-0c6a6cdda65e>]>

In [ ]:
Contract.objects.filter(gala__)